<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yanalytics" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>yAnalytics</name>
    <description>
        Your personal YouTube statistics in your hand!
    </description>
    <author email="dennis@yanalytics.eu" href="http://yanalytics.eu">
       Dennis N.
       Raphael H.
    </author>
    <access origin="*" />
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    
   
</widget>

